.home-page{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    width: 100vw;
}

.header {
    background-color: var(--primary-color-1) !important;
    padding: 10px 50px !important;
    width: 100%;
}

.header-content {
    display: flex;
    padding: 0 !important;
    height: fit-content;
}

.header-content>a,
.nav-link {
    color: white !important;
}

.app_name {
    font-family: "Abril Fatface", serif;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 3rem;
    padding-right: 2rem;
    border-right: solid 1px var(--white);
}

.nav-link-active {
    text-decoration: white !important;
}

.title {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin-top: 40px
}

.title>h2 {
    font-size: 16px;
    font-weight: bold;
    color: #6A9C89;
}

.header-action{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2rem;
    align-items: end;
    font-size: 1.6rem;
    padding-left: 1rem;
}

.action_active{
    text-decoration: underline var(--white) solid;
    font-weight: 500;
}

.home-page_content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: center;
}

.greeting{
    font-size: 2.4rem;
    /* font-family: "Pacifico", cursive; */
    font-style: italic;
}

.content-top{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 40px;
}

.content-upload_file{
    display: flex;
    gap: 1rem;
    font-size: 1.6rem;
    align-items: center;
}

.file-label{
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: solid 1px var(--primary-color-1);
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

#file-name{
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    width: 15rem;
    max-width: 15rem;
    max-height: 1.8em;
    line-height: 1.8em;
}

.check-icon{
    font-size: 2rem;
    color: var(--green);
}

.x-mark-icon{
    font-size: 2rem;
    color: var(--red);}

.content-query{
    display: flex;
    gap: 4rem;
    font-size: 1.5rem !important;
    align-items: center;
}

.MuiInputBase-formControl, .MuiInputBase-input{
    font-size: 1.6rem !important;
}

.css-13cymwt-control{
    width: 100% !important;
    height: 100% !important;
}

.css-10o2lyd-MuiStack-root{
    width: 100% !important;
}

.MuiMultiSectionDigitalClockSection-root{
    width: 100px !important;
}

.search-btn{
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    border: solid 1px var(--primary-color-1);
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.content-table{
    width: 100%;
    padding: 0 5rem;
}

.update-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.MuiFormHelperText-root{
    color: var(--red) !important;
}